@import 'scss_header';
@import url('reset.css');
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Noto+Sans+KR:300,400,500,700&subset=korean");

/**********************************************************************************
** common
***********************************************************************************/
html, body{-webkit-overflow-scrolling: touch; font-family: $fontMix;}
.offscreen { position: absolute; display: block; overflow: hidden; height: 1px; width: 1px; clip: rect(1px, 1px, 1px, 1px);}

.only-pc{
	@include desktop{
		display: block;
	}

	@include mobile{
		display: none !important;
	}
}
.only-mo{
	@include desktop {
		display: none !important;
	}

	@include mobile{
		display: block;
	}
}

h3.title, h4.title{
	overflow: hidden;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 2.7rem;
	text-align: center;

	.spot{
		color: $pointColorBlue;
	}
}

/**********************************************************************************
** animation
***********************************************************************************/
@-webkit-keyframes growDown {
	0% {
		transform: scaleY(0.23)
	}
	80% {
		transform: scaleY(1.15)
	}
	100% {
		transform: scaleY(1)
	}
}

@keyframes growDown {
	0% {
		transform: scaleY(0.23)
	}
	80% {
		transform: scaleY(1.15)
	}
	100% {
		transform: scaleY(1)
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes moveUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes moveUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@-webkit-keyframes moveRight {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes moveRight {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@-webkit-keyframes moveLeft {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes moveLeft {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	to {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeHeight {
	from {
		opacity: 0;
		height: 0;
	}

	to {
		opacity: 1;
		height: 100%;
	}
}

@keyframes fadeHeight {
	from {
		opacity: 0;
		height: 0;
	}

	to {
		opacity: 1;
		height: 100%;
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}


/**********************************************************************************
** layout
***********************************************************************************/
.skip-nav-wrap {
	position: absolute;
	font-size: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 11;

	a {
		position: absolute;
		display: inline-block;
		color: #fff;
		width: 100%;
		padding: 10px;
		background: #000;
		text-align: center;
		font-size: 1.5rem;
		left: 0;
		right: 0;
		top: 0;

		&:not(:focus) {
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			transform: translateY(-100%);
		}
	}
}

.header-container{
	position: relative;

	.gnb-wrap{
		@include desktop {
			overflow: hidden;
		}

		.inner{
			@include desktop{
				opacity: 0;
				transform: translateY(100%);
			}
		}
	}

	.header-inner{
		position: relative;
		@include justify_width(false, start);
		align-items: center;
		width: 100%;
		max-width: $contentsWidth;
		margin: 0 auto;
		height: 100%;
	}

	.main-banner-wrap{
		position: relative;
		overflow: hidden;
		height: 100vh;

		.header-inner{
			z-index: 4;
			flex-direction: column;
			justify-content: center;
		}

		.banner-txt, .banner-stxt{
			overflow: hidden;
			color: #fff;

			.txt-inner{
				display: block;
				opacity: 0;
				transform: translateY(-30px);
			}
		}

		.banner-txt{
			margin-top: -200px;
			font-weight: 500;
			@include calc_letter_spacing(-25, 2.8rem);
			line-height: 4.1rem;
			text-align: center;

		}

		.banner-stxt{
			margin-top: 13px;
			text-align: center;
			@include calc_letter_spacing(-25, 1.7rem);
			line-height: 2.2rem;
			font-weight: 500;

			.fw-bold{
				font-weight: 700;
				font-size: 2.1rem;
			}

			+ .banner-stxt{
				margin-top: 10px;
			}
		}

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $pointColorPurple;
			animation: fadeHeight .6s ease-in-out forwards;
			z-index: 2;
		}

		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&.is-complete{
		.gnb-wrap{
			.inner{
				@include desktop{
					opacity: 1;
					transform: translateY(0);
					transition: .6s ease .75s;
				}
			}
		}

		.main-banner-wrap{
			&:after{
				background: url(../images/main.jpg) center / cover no-repeat;
			}

			&:before{
				animation: moveUp .6s ease-in-out forwards;
			}

			.banner-txt, .banner-stxt{
				.txt-inner{
					transform: translateY(0);
					opacity: 1;
					transition: transform .5s ease .43s, opacity .5s ease .43s;
				}
			}

			.banner-stxt{
				.txt-inner{
					transition-delay: .5s;
				}

				+ .banner-stxt{
					.txt-inner{
						transition-delay: .6s;
					}
				}
			}
		}
	}
}

.contents-container{
	overflow: hidden;
	position: relative;
	padding: 80px 0;

	.contents-inner{
		width: 100%;
		max-width: $contentsWidth;
		margin: 0 auto;
		padding: 0 20px;
	}

	.introduce-wrap{
		outline: none;
		overflow: hidden;
		margin-bottom: 80px;

		.title{
			padding: 0 20px;
			margin-bottom: 24px;
		}

		.img-box{
			img{
				display: block;
				width: 100%;
			}
		}

		.desc-box{
			text-align: center;

			.sub-title{
				display: block;
				color: #222;
				margin-bottom: 9px;
				font-size: 1.5rem;
				line-height: 2rem;

				.spot{
					color: $pointColorBlue;
					font-size: 1.7rem;
					font-weight: 700;
				}
			}

			.desc{
				margin-top: 15px;
				color: #222;
				font-size: 1.4rem;
				line-height: 1.9rem;
			}
		}

		.line-box{
			margin-top: 50px;
			text-align: center;

			.box-inner{
				display: inline-block;
				padding: 15px 10px;
				border-top: 1px solid $pointColorBlue;
				border-bottom: 1px solid $pointColorBlue;
			}

			.item{
				font-size: 1.5rem;
				line-height: 2rem;

				span{
					font-size: 1.3rem;
				}

				+ .item{
					margin-top: 10px;
				}
			}
		}
	}

	.account-wrap{
		margin-top: 80px;

		.title{
			font-weight: 400;
		}

		.sub-title{
			margin-top: 8px;
			font-size: 15px;
			text-align: center;
			color: #777;
		}

		.btn-wrap{
			display: flex;
			margin-top: 20px;

			.btn{
				flex: 1;
				height: 40px;
				background-color: $pointColorBlue;
				border-radius: 30px;
				line-height: 40px;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				text-align: center;

				+ .btn{
					margin-left: 6px;
				}
			}
		}

		.call-info-box{
			display: flex;
			margin-top: 20px;

			.info-box{
				flex: 1;
				text-align: center;

				.info-title{
					font-size: 14px;
					margin-top: 10px;
					margin-bottom: 10px;
				}

				a{
					display: inline-block;
					width: 30px;
					height: 30px;
					vertical-align: top;
					border-radius: 100%;

					+ a{
						margin-left: 10px;
					}
				}

				.tel{
					background: $pointColorBlue url(../images/ico_phone.png) center / 10px auto no-repeat;
				}

				.msg{
					background: $pointColorBlue url(../images/ico_msg.png) 8px 7px / 15px auto no-repeat;
				}
			}
		}
	}

	.gallery-wrap{
		outline: none;
		margin-bottom: 80px;

		.title{
			margin-bottom: 30px;
		}

		.gallery-list-wrap{
			position: relative;

			&.aos-animate{
				transition-delay: .1s;
			}

			.gallery-swiper-wrap{
				.gallery-list-box{
					.gallery-box{
						display: flex;
						height: auto;
						align-items: center;
						background-color: #f9f9f9;

						img{
							display: block;
							width: 100%;
						}
					}
				}
			}

			.gallery-thumb-wrap{
				margin-top: 20px;
				padding: 0 20px;

				.gallery-thumb-box{
					.thumb-box{
						display: flex;
						height: auto;
						align-items: center;

						img{
							display: block;
							width: 100%;
						}
					}

					.swiper-slide-thumb-active{
						position: relative;

						&:before{
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border: 1px solid #000;
						}
					}
				}
			}
		}
	}

	.map-wrap{
		text-align: center;

		.sub-title{
			margin-top: 8px;
			font-size: 15px;
			color: #777;
			text-align: center;
		}

		.map-area{
			height: 300px;
			margin: 20px 0 15px;
			background-color: rgba(255, 0, 0, .2);

			a{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.link-map{
			display: inline-block;
			//border: 1px solid $pointColorPurple;
			background-color: $pointColorPurple;
			border-radius: 15px;
			height: 30px;
			padding: 0 15px;
			line-height: 30px;
			color: #444;
			font-size: 1.3rem;
		}

		.address{
			font-size: 1.4rem;
		}

		.tel-link{
			display: inline-block;
			//border: 1px solid $pointColorPurple;
			background-color: $pointColorPurple;
			border-radius: 15px;
			height: 30px;
			padding: 0 15px;
			line-height: 30px;
			color: #444;
			font-size: 1.3rem;
		}

		.btn-wrap{
			display: flex;
			margin-top: 13px;

			a{
				flex: 1;

				+ a{
					margin-left: 6px;
				}
			}
		}

		.transport-title{
			display: block;
			color: #222;
			margin-top: 30px;
			font-size: 1.5rem;
			line-height: 2rem;
			text-align: left;

			~ .transport-title{
				margin-top: 15px;
			}
		}

		.transport-desc{
			display: block;
			color: #777;
			margin-top: 5px;
			font-size: 1.3rem;
			line-height: 1.8rem;
			text-align: left;
			word-break: keep-all;

		}
	}

}

.footer-container{
	overflow: hidden;
	background-color: #222;

	@include desktop{
		height: 100px;
	}

	@include mobile{
		height: 50px;
	}

	.footer-inner{
		@include justify_width;
		width: 100%;
		max-width: $contentsWidth;
		height: 100%;
		margin: 0 auto;
		align-items: center;
		justify-content: center;

		.copyright{
			color: #fff;
			text-align: center;
			opacity: .3;

			@include desktop{
				@include calc_letter_spacing(-50, $defaultFontSize);
			}

			@include mobile{
				font-size: 1rem;
			}
		}
	}

}

.btn-go-top{
	opacity: 0;
	position: fixed;
	bottom: -100px;
	right: 0;
	z-index: 99;
	box-shadow: 0 5px 20px rgba(13, 49, 157, 0.1);
	-webkit-box-shadow: 0 5px 20px rgba(13, 49, 157, 0.1);
	-moz-box-shadow: 0 5px 20px rgba(13, 49, 157, 0.1);
	transition: opacity .4s, bottom .1s ease .4s;
	cursor: default;
	background-color: $pointColorBlue;
	color: $textColorWhite;
	text-align: center;

	@include desktop{
		width: 80px;
		height: 80px;
		font-size: 1.5rem;
	}

	@include mobile{
		width: 50px;
		height: 50px;
		font-size: 1rem;
	}

	&:before{
		content: '';
		display: block;
		margin: 0 auto;
		background: {
			repeat: no-repeat;
			size: 100%;
			position: 0 0;
		};

		@include desktop{
			width: 11px;
			height: 14px;
			margin: {
				top: 3px;
				bottom: 5px;
			}
			background-image: url('../images/pc/ui/ui_btn_top_arr.png');
			transform: translateY(0px);
			transition: transform .23s;
		}

		@include mobile{
			width: 9px;
			height: 10px;
			margin: {
				top: 3px;
				bottom: 3px;
			}
			background-image: url('../images/mo/ui/ui_btn_top_arr.png');
		}
	}

	&:hover{
		@include desktop{
			&:before{
				transition: transform .23s;
				transform: translateY(-5px);
			}
		}
	}

	&.is-fixed{
		opacity: 1;
		bottom: 100px;
		transition: bottom .1s, opacity .5s ease .1s;
		cursor: pointer;

		@include mobile{
			bottom: 50px;
		}
	}
}


/**********************************************************************************
** aos animation custom
***********************************************************************************/
[data-aos='move-right']{
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transition: left .6s ease-in-out;
	}

	&.aos-animate{
		&:before{
			left: 100%;
			animation: moveRight .6s $transDefaultEase forwards;
			transition-duration: .6s;
			transition: left .1s ease-in-out 1s;
		}
	}
}

[data-aos='move-left']{
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transition: left .6s ease-in-out;
	}

	&.aos-animate{
		&:before{
			left: -100%;
			animation: moveLeft 1s $transDefaultEase forwards;
			transition-duration: 1s;
		}
	}
}

$aos-distance: 50px;
@import '../../vendors/aos/scss/aos.scss';

