/* media query */
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Noto+Sans+KR:300,400,500,700&subset=korean");
.dialog-open {
	position: fixed;
	overflow: hidden !important;
	height: 100%;
	touch-action: none;
}

.dialog-open .os-viewport {
	overflow: hidden !important;
}

.dialog-header, .dialog-contents, .dialog-bottom {
	display: none;
}

.ui-dialog-container {
	display: none;
}

.ui-dialog-container.open {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: initial;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	align-items: center;
	height: 100%;
	touch-action: none;
}

.ui-dialog-container.open .dialog-header, .ui-dialog-container.open .dialog-contents, .ui-dialog-container.open .dialog-bottom {
	display: block;
}

.ui-dialog {
	position: relative;
	z-index: 2;
	max-width: 100%;
	background: #fff;
	max-height: 100%;
	padding: 0;
	width: 320px !important;
	margin: 0 auto;
	border-radius: 10px;
}

.ui-dialog .ui-dialog-titlebar {
	display: none;
}

.ui-dialog .ui-dialog-contents {
	position: relative;
	padding: 9px 0 0;
	overflow: visible;
	background-color: #fff;
	touch-action: none;
	padding-top: 40px;
	word-break: keep-all;
	word-wrap: break-word;
	border-radius: 10px;
}

.ui-dialog .ui-dialog-contents .dialog-contents {
	padding: 0 40px 30px;
	overflow-y: auto;
	max-height: 372px;
	-webkit-overflow-scrolling: touch;
	text-align: center;
}

.ui-dialog .ui-dialog-contents .dialog-contents .name {
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
}

.ui-dialog .ui-dialog-contents .dialog-contents .name ~ .name {
	margin-top: 20px;
}

.ui-dialog .ui-dialog-contents .dialog-contents .account {
	display: block;
}

.ui-dialog .ui-dialog-contents .btn-wrap {
	margin-top: 30px;
}

.ui-dialog .ui-dialog-contents .btn-wrap .btn-copy {
	width: 100%;
	height: 40px;
	background-color: #311c00;
	border-radius: 30px;
	line-height: 40px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}

.ui-dialog .ui-dialog-contents .btn-pop-close {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/dialog_icon_btn_close.png) center/17px no-repeat;
}

.ui-dialog:not(.dialog-full) .ui-dialog-contents .dialog-bottom .btn-wrap [class*=btn] + [class*=btn] {
	margin-left: 0;
}

.ui-dialog:not(.dialog-full) .ui-dialog-contents .dialog-bottom .btn-wrap .btn-line {
	border-left-color: #fff;
	border-right-color: #fff;
	border-bottom-color: #fff;
}

.ui-widget-overlay {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**********************************************************************************
** common
***********************************************************************************/
html, body {
	-webkit-overflow-scrolling: touch;
	font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

.offscreen {
	position: absolute;
	display: block;
	overflow: hidden;
	height: 1px;
	width: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 769px) {
	.only-pc {
		display: block;
	}
}

@media (max-width: 768px) {
	.only-pc {
		display: none !important;
	}
}

@media (min-width: 769px) {
	.only-mo {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.only-mo {
		display: block;
	}
}

h3.title, h4.title {
	overflow: hidden;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 2.7rem;
	text-align: center;
}

h3.title .spot, h4.title .spot {
	color: #311c00;
}

/**********************************************************************************
** animation
***********************************************************************************/
@-webkit-keyframes growDown {
	0% {
		transform: scaleY(0.23);
	}
	80% {
		transform: scaleY(1.15);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes growDown {
	0% {
		transform: scaleY(0.23);
	}
	80% {
		transform: scaleY(1.15);
	}
	100% {
		transform: scaleY(1);
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes moveUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes moveUp {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@-webkit-keyframes moveRight {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes moveRight {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@-webkit-keyframes moveLeft {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes moveLeft {
	from {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	to {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeHeight {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

@keyframes fadeHeight {
	from {
		opacity: 0;
		height: 0;
	}
	to {
		opacity: 1;
		height: 100%;
	}
}

@-webkit-keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(30px, 0, 0);
		transform: translate3d(30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-30px, 0, 0);
		transform: translate3d(-30px, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

/**********************************************************************************
** layout
***********************************************************************************/
.skip-nav-wrap {
	position: absolute;
	font-size: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 11;
}

.skip-nav-wrap a {
	position: absolute;
	display: inline-block;
	color: #fff;
	width: 100%;
	padding: 10px;
	background: #000;
	text-align: center;
	font-size: 1.5rem;
	left: 0;
	right: 0;
	top: 0;
}

.skip-nav-wrap a:not(:focus) {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.header-container {
	position: relative;
}

@media (min-width: 769px) {
	.header-container .gnb-wrap {
		overflow: hidden;
	}
}

@media (min-width: 769px) {
	.header-container .gnb-wrap .inner {
		opacity: 0;
		transform: translateY(100%);
	}
}

.header-container .header-inner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.header-container .main-banner-wrap {
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.header-container .main-banner-wrap .header-inner {
	z-index: 4;
	flex-direction: column;
	justify-content: center;
}

.header-container .main-banner-wrap .banner-txt, .header-container .main-banner-wrap .banner-stxt {
	overflow: hidden;
	color: #fff;
}

.header-container .main-banner-wrap .banner-txt .txt-inner, .header-container .main-banner-wrap .banner-stxt .txt-inner {
	display: block;
	opacity: 0;
	transform: translateY(-30px);
}

.header-container .main-banner-wrap .banner-txt {
	margin-top: -200px;
	font-weight: 500;
	font-size: 2.8rem;
	letter-spacing: -0.1rem;
	line-height: 4.1rem;
	text-align: center;
}

.header-container .main-banner-wrap .banner-stxt {
	margin-top: 13px;
	text-align: center;
	font-size: 1.7rem;
	letter-spacing: -0.05rem;
	line-height: 2.2rem;
	font-weight: 500;
}

.header-container .main-banner-wrap .banner-stxt .fw-bold {
	font-weight: 700;
	font-size: 2.1rem;
}

.header-container .main-banner-wrap .banner-stxt + .banner-stxt {
	margin-top: 10px;
}

.header-container .main-banner-wrap:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f8eede;
	animation: fadeHeight .6s ease-in-out forwards;
	z-index: 2;
}

.header-container .main-banner-wrap:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 769px) {
	.header-container.is-complete .gnb-wrap .inner {
		opacity: 1;
		transform: translateY(0);
		transition: .6s ease .75s;
	}
}

.header-container.is-complete .main-banner-wrap:after {
	background: url(../images/main.jpg) center/cover no-repeat;
}

.header-container.is-complete .main-banner-wrap:before {
	animation: moveUp .6s ease-in-out forwards;
}

.header-container.is-complete .main-banner-wrap .banner-txt .txt-inner, .header-container.is-complete .main-banner-wrap .banner-stxt .txt-inner {
	transform: translateY(0);
	opacity: 1;
	transition: transform .5s ease .43s, opacity .5s ease .43s;
}

.header-container.is-complete .main-banner-wrap .banner-stxt .txt-inner {
	transition-delay: .5s;
}

.header-container.is-complete .main-banner-wrap .banner-stxt + .banner-stxt .txt-inner {
	transition-delay: .6s;
}

.contents-container {
	overflow: hidden;
	position: relative;
	padding: 80px 0;
}

.contents-container .contents-inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.contents-container .introduce-wrap {
	outline: none;
	overflow: hidden;
	margin-bottom: 80px;
}

.contents-container .introduce-wrap .title {
	padding: 0 20px;
	margin-bottom: 24px;
}

.contents-container .introduce-wrap .img-box img {
	display: block;
	width: 100%;
}

.contents-container .introduce-wrap .desc-box {
	text-align: center;
}

.contents-container .introduce-wrap .desc-box .sub-title {
	display: block;
	color: #222;
	margin-bottom: 9px;
	font-size: 1.5rem;
	line-height: 2rem;
}

.contents-container .introduce-wrap .desc-box .sub-title .spot {
	color: #311c00;
	font-size: 1.7rem;
	font-weight: 700;
}

.contents-container .introduce-wrap .desc-box .desc {
	margin-top: 15px;
	color: #222;
	font-size: 1.4rem;
	line-height: 1.9rem;
}

.contents-container .introduce-wrap .line-box {
	margin-top: 50px;
	text-align: center;
}

.contents-container .introduce-wrap .line-box .box-inner {
	display: inline-block;
	padding: 15px 10px;
	border-top: 1px solid #311c00;
	border-bottom: 1px solid #311c00;
}

.contents-container .introduce-wrap .line-box .item {
	font-size: 1.5rem;
	line-height: 2rem;
}

.contents-container .introduce-wrap .line-box .item span {
	font-size: 1.3rem;
}

.contents-container .introduce-wrap .line-box .item + .item {
	margin-top: 10px;
}

.contents-container .account-wrap {
	margin-top: 80px;
}

.contents-container .account-wrap .title {
	font-size: 20px;
	font-weight: 400;
}

.contents-container .account-wrap .sub-title {
	margin-top: 8px;
	font-size: 15px;
	text-align: center;
	color: #777;
}

.contents-container .account-wrap .btn-wrap {
	display: flex;
	margin-top: 20px;
}

.contents-container .account-wrap .btn-wrap .btn {
	flex: 1;
	height: 40px;
	background-color: #311c00;
	border-radius: 30px;
	line-height: 40px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
}

.contents-container .account-wrap .btn-wrap .btn + .btn {
	margin-left: 6px;
}

.contents-container .account-wrap .call-info-box {
	display: flex;
	margin-top: 20px;
}

.contents-container .account-wrap .call-info-box .info-box {
	flex: 1;
	text-align: center;
}

.contents-container .account-wrap .call-info-box .info-box .info-title {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contents-container .account-wrap .call-info-box .info-box a {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: top;
	border-radius: 100%;
}

.contents-container .account-wrap .call-info-box .info-box a + a {
	margin-left: 10px;
}

.contents-container .account-wrap .call-info-box .info-box .tel {
	background: #311c00 url(../images/ico_phone.png) center/10px auto no-repeat;
}

.contents-container .account-wrap .call-info-box .info-box .msg {
	background: #311c00 url(../images/ico_msg.png) 8px 7px/15px auto no-repeat;
}

.contents-container .gallery-wrap {
	outline: none;
	margin-bottom: 80px;
}

.contents-container .gallery-wrap .title {
	margin-bottom: 30px;
}

.contents-container .gallery-wrap .gallery-list-wrap {
	position: relative;
}

.contents-container .gallery-wrap .gallery-list-wrap.aos-animate {
	transition-delay: .1s;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-swiper-wrap .gallery-list-box .gallery-box {
	display: flex;
	height: auto;
	align-items: center;
	background-color: #f9f9f9;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-swiper-wrap .gallery-list-box .gallery-box img {
	display: block;
	width: 100%;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-thumb-wrap {
	margin-top: 20px;
	padding: 0 20px;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-thumb-wrap .gallery-thumb-box .thumb-box {
	display: flex;
	height: auto;
	align-items: center;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-thumb-wrap .gallery-thumb-box .thumb-box img {
	display: block;
	width: 100%;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-thumb-wrap .gallery-thumb-box .swiper-slide-thumb-active {
	position: relative;
}

.contents-container .gallery-wrap .gallery-list-wrap .gallery-thumb-wrap .gallery-thumb-box .swiper-slide-thumb-active:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
}

.contents-container .map-wrap {
	text-align: center;
}

.contents-container .map-wrap .sub-title {
	margin-top: 8px;
	font-size: 15px;
	color: #777;
	text-align: center;
}

.contents-container .map-wrap .map-area {
	height: 300px;
	margin: 20px 0 15px;
	background-color: rgba(255, 0, 0, 0.2);
}

.contents-container .map-wrap .map-area a {
	display: block;
	width: 100%;
	height: 100%;
}

.contents-container .map-wrap .link-map {
	display: inline-block;
	background-color: #f8eede;
	border-radius: 15px;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	color: #444;
	font-size: 1.3rem;
}

.contents-container .map-wrap .address {
	font-size: 1.4rem;
}

.contents-container .map-wrap .tel-link {
	display: inline-block;
	background-color: #f8eede;
	border-radius: 15px;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	color: #444;
	font-size: 1.3rem;
}

.contents-container .map-wrap .btn-wrap {
	display: flex;
	margin-top: 13px;
}

.contents-container .map-wrap .btn-wrap a {
	flex: 1;
}

.contents-container .map-wrap .btn-wrap a + a {
	margin-left: 6px;
}

.contents-container .map-wrap .transport-title {
	display: block;
	color: #222;
	margin-top: 30px;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: left;
}

.contents-container .map-wrap .transport-title ~ .transport-title {
	margin-top: 15px;
}

.contents-container .map-wrap .transport-desc {
	display: block;
	color: #777;
	margin-top: 5px;
	font-size: 1.3rem;
	line-height: 1.8rem;
	text-align: left;
	word-break: keep-all;
}

.footer-container {
	overflow: hidden;
	background-color: #222;
}

@media (min-width: 769px) {
	.footer-container {
		height: 100px;
	}
}

@media (max-width: 768px) {
	.footer-container {
		height: 50px;
	}
}

.footer-container .footer-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.footer-container .footer-inner .copyright {
	color: #fff;
	text-align: center;
	opacity: .3;
}

@media (min-width: 769px) {
	.footer-container .footer-inner .copyright {
		font-size: 1.4rem;
		letter-spacing: -0.1rem;
	}
}

@media (max-width: 768px) {
	.footer-container .footer-inner .copyright {
		font-size: 1rem;
	}
}

.btn-go-top {
	opacity: 0;
	position: fixed;
	bottom: -100px;
	right: 0;
	z-index: 99;
	box-shadow: 0 5px 20px rgba(13, 49, 157, 0.1);
	-webkit-box-shadow: 0 5px 20px rgba(13, 49, 157, 0.1);
	-moz-box-shadow: 0 5px 20px rgba(13, 49, 157, 0.1);
	transition: opacity .4s, bottom .1s ease .4s;
	cursor: default;
	background-color: #311c00;
	color: #fff;
	text-align: center;
}

@media (min-width: 769px) {
	.btn-go-top {
		width: 80px;
		height: 80px;
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	.btn-go-top {
		width: 50px;
		height: 50px;
		font-size: 1rem;
	}
}

.btn-go-top:before {
	content: '';
	display: block;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0;
}

@media (min-width: 769px) {
	.btn-go-top:before {
		width: 11px;
		height: 14px;
		margin-top: 3px;
		margin-bottom: 5px;
		background-image: url("../images/pc/ui/ui_btn_top_arr.png");
		transform: translateY(0px);
		transition: transform .23s;
	}
}

@media (max-width: 768px) {
	.btn-go-top:before {
		width: 9px;
		height: 10px;
		margin-top: 3px;
		margin-bottom: 3px;
		background-image: url("../images/mo/ui/ui_btn_top_arr.png");
	}
}

@media (min-width: 769px) {
	.btn-go-top:hover:before {
		transition: transform .23s;
		transform: translateY(-5px);
	}
}

.btn-go-top.is-fixed {
	opacity: 1;
	bottom: 100px;
	transition: bottom .1s, opacity .5s ease .1s;
	cursor: pointer;
}

@media (max-width: 768px) {
	.btn-go-top.is-fixed {
		bottom: 50px;
	}
}

/**********************************************************************************
** aos animation custom
***********************************************************************************/
[data-aos='move-right']:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: left .6s ease-in-out;
}

[data-aos='move-right'].aos-animate:before {
	left: 100%;
	animation: moveRight 0.6s ease-out forwards;
	transition-duration: .6s;
	transition: left .1s ease-in-out 1s;
}

[data-aos='move-left']:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: left .6s ease-in-out;
}

[data-aos='move-left'].aos-animate:before {
	left: -100%;
	animation: moveLeft 1s ease-out forwards;
	transition-duration: 1s;
}

body[data-aos-duration='50'] [data-aos], [data-aos][data-aos][data-aos-duration='50'] {
	transition-duration: 50ms;
}

body[data-aos-delay='50'] [data-aos], [data-aos][data-aos][data-aos-delay='50'] {
	transition-delay: 0;
}

body[data-aos-delay='50'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='50'].aos-animate {
	transition-delay: 50ms;
}

body[data-aos-duration='100'] [data-aos], [data-aos][data-aos][data-aos-duration='100'] {
	transition-duration: 100ms;
}

body[data-aos-delay='100'] [data-aos], [data-aos][data-aos][data-aos-delay='100'] {
	transition-delay: 0;
}

body[data-aos-delay='100'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='100'].aos-animate {
	transition-delay: 100ms;
}

body[data-aos-duration='150'] [data-aos], [data-aos][data-aos][data-aos-duration='150'] {
	transition-duration: 150ms;
}

body[data-aos-delay='150'] [data-aos], [data-aos][data-aos][data-aos-delay='150'] {
	transition-delay: 0;
}

body[data-aos-delay='150'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='150'].aos-animate {
	transition-delay: 150ms;
}

body[data-aos-duration='200'] [data-aos], [data-aos][data-aos][data-aos-duration='200'] {
	transition-duration: 200ms;
}

body[data-aos-delay='200'] [data-aos], [data-aos][data-aos][data-aos-delay='200'] {
	transition-delay: 0;
}

body[data-aos-delay='200'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='200'].aos-animate {
	transition-delay: 200ms;
}

body[data-aos-duration='250'] [data-aos], [data-aos][data-aos][data-aos-duration='250'] {
	transition-duration: 250ms;
}

body[data-aos-delay='250'] [data-aos], [data-aos][data-aos][data-aos-delay='250'] {
	transition-delay: 0;
}

body[data-aos-delay='250'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='250'].aos-animate {
	transition-delay: 250ms;
}

body[data-aos-duration='300'] [data-aos], [data-aos][data-aos][data-aos-duration='300'] {
	transition-duration: 300ms;
}

body[data-aos-delay='300'] [data-aos], [data-aos][data-aos][data-aos-delay='300'] {
	transition-delay: 0;
}

body[data-aos-delay='300'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='300'].aos-animate {
	transition-delay: 300ms;
}

body[data-aos-duration='350'] [data-aos], [data-aos][data-aos][data-aos-duration='350'] {
	transition-duration: 350ms;
}

body[data-aos-delay='350'] [data-aos], [data-aos][data-aos][data-aos-delay='350'] {
	transition-delay: 0;
}

body[data-aos-delay='350'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='350'].aos-animate {
	transition-delay: 350ms;
}

body[data-aos-duration='400'] [data-aos], [data-aos][data-aos][data-aos-duration='400'] {
	transition-duration: 400ms;
}

body[data-aos-delay='400'] [data-aos], [data-aos][data-aos][data-aos-delay='400'] {
	transition-delay: 0;
}

body[data-aos-delay='400'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='400'].aos-animate {
	transition-delay: 400ms;
}

body[data-aos-duration='450'] [data-aos], [data-aos][data-aos][data-aos-duration='450'] {
	transition-duration: 450ms;
}

body[data-aos-delay='450'] [data-aos], [data-aos][data-aos][data-aos-delay='450'] {
	transition-delay: 0;
}

body[data-aos-delay='450'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='450'].aos-animate {
	transition-delay: 450ms;
}

body[data-aos-duration='500'] [data-aos], [data-aos][data-aos][data-aos-duration='500'] {
	transition-duration: 500ms;
}

body[data-aos-delay='500'] [data-aos], [data-aos][data-aos][data-aos-delay='500'] {
	transition-delay: 0;
}

body[data-aos-delay='500'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='500'].aos-animate {
	transition-delay: 500ms;
}

body[data-aos-duration='550'] [data-aos], [data-aos][data-aos][data-aos-duration='550'] {
	transition-duration: 550ms;
}

body[data-aos-delay='550'] [data-aos], [data-aos][data-aos][data-aos-delay='550'] {
	transition-delay: 0;
}

body[data-aos-delay='550'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='550'].aos-animate {
	transition-delay: 550ms;
}

body[data-aos-duration='600'] [data-aos], [data-aos][data-aos][data-aos-duration='600'] {
	transition-duration: 600ms;
}

body[data-aos-delay='600'] [data-aos], [data-aos][data-aos][data-aos-delay='600'] {
	transition-delay: 0;
}

body[data-aos-delay='600'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='600'].aos-animate {
	transition-delay: 600ms;
}

body[data-aos-duration='650'] [data-aos], [data-aos][data-aos][data-aos-duration='650'] {
	transition-duration: 650ms;
}

body[data-aos-delay='650'] [data-aos], [data-aos][data-aos][data-aos-delay='650'] {
	transition-delay: 0;
}

body[data-aos-delay='650'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='650'].aos-animate {
	transition-delay: 650ms;
}

body[data-aos-duration='700'] [data-aos], [data-aos][data-aos][data-aos-duration='700'] {
	transition-duration: 700ms;
}

body[data-aos-delay='700'] [data-aos], [data-aos][data-aos][data-aos-delay='700'] {
	transition-delay: 0;
}

body[data-aos-delay='700'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='700'].aos-animate {
	transition-delay: 700ms;
}

body[data-aos-duration='750'] [data-aos], [data-aos][data-aos][data-aos-duration='750'] {
	transition-duration: 750ms;
}

body[data-aos-delay='750'] [data-aos], [data-aos][data-aos][data-aos-delay='750'] {
	transition-delay: 0;
}

body[data-aos-delay='750'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='750'].aos-animate {
	transition-delay: 750ms;
}

body[data-aos-duration='800'] [data-aos], [data-aos][data-aos][data-aos-duration='800'] {
	transition-duration: 800ms;
}

body[data-aos-delay='800'] [data-aos], [data-aos][data-aos][data-aos-delay='800'] {
	transition-delay: 0;
}

body[data-aos-delay='800'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='800'].aos-animate {
	transition-delay: 800ms;
}

body[data-aos-duration='850'] [data-aos], [data-aos][data-aos][data-aos-duration='850'] {
	transition-duration: 850ms;
}

body[data-aos-delay='850'] [data-aos], [data-aos][data-aos][data-aos-delay='850'] {
	transition-delay: 0;
}

body[data-aos-delay='850'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='850'].aos-animate {
	transition-delay: 850ms;
}

body[data-aos-duration='900'] [data-aos], [data-aos][data-aos][data-aos-duration='900'] {
	transition-duration: 900ms;
}

body[data-aos-delay='900'] [data-aos], [data-aos][data-aos][data-aos-delay='900'] {
	transition-delay: 0;
}

body[data-aos-delay='900'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='900'].aos-animate {
	transition-delay: 900ms;
}

body[data-aos-duration='950'] [data-aos], [data-aos][data-aos][data-aos-duration='950'] {
	transition-duration: 950ms;
}

body[data-aos-delay='950'] [data-aos], [data-aos][data-aos][data-aos-delay='950'] {
	transition-delay: 0;
}

body[data-aos-delay='950'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='950'].aos-animate {
	transition-delay: 950ms;
}

body[data-aos-duration='1000'] [data-aos], [data-aos][data-aos][data-aos-duration='1000'] {
	transition-duration: 1000ms;
}

body[data-aos-delay='1000'] [data-aos], [data-aos][data-aos][data-aos-delay='1000'] {
	transition-delay: 0;
}

body[data-aos-delay='1000'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1000'].aos-animate {
	transition-delay: 1000ms;
}

body[data-aos-duration='1050'] [data-aos], [data-aos][data-aos][data-aos-duration='1050'] {
	transition-duration: 1050ms;
}

body[data-aos-delay='1050'] [data-aos], [data-aos][data-aos][data-aos-delay='1050'] {
	transition-delay: 0;
}

body[data-aos-delay='1050'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1050'].aos-animate {
	transition-delay: 1050ms;
}

body[data-aos-duration='1100'] [data-aos], [data-aos][data-aos][data-aos-duration='1100'] {
	transition-duration: 1100ms;
}

body[data-aos-delay='1100'] [data-aos], [data-aos][data-aos][data-aos-delay='1100'] {
	transition-delay: 0;
}

body[data-aos-delay='1100'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1100'].aos-animate {
	transition-delay: 1100ms;
}

body[data-aos-duration='1150'] [data-aos], [data-aos][data-aos][data-aos-duration='1150'] {
	transition-duration: 1150ms;
}

body[data-aos-delay='1150'] [data-aos], [data-aos][data-aos][data-aos-delay='1150'] {
	transition-delay: 0;
}

body[data-aos-delay='1150'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1150'].aos-animate {
	transition-delay: 1150ms;
}

body[data-aos-duration='1200'] [data-aos], [data-aos][data-aos][data-aos-duration='1200'] {
	transition-duration: 1200ms;
}

body[data-aos-delay='1200'] [data-aos], [data-aos][data-aos][data-aos-delay='1200'] {
	transition-delay: 0;
}

body[data-aos-delay='1200'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1200'].aos-animate {
	transition-delay: 1200ms;
}

body[data-aos-duration='1250'] [data-aos], [data-aos][data-aos][data-aos-duration='1250'] {
	transition-duration: 1250ms;
}

body[data-aos-delay='1250'] [data-aos], [data-aos][data-aos][data-aos-delay='1250'] {
	transition-delay: 0;
}

body[data-aos-delay='1250'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1250'].aos-animate {
	transition-delay: 1250ms;
}

body[data-aos-duration='1300'] [data-aos], [data-aos][data-aos][data-aos-duration='1300'] {
	transition-duration: 1300ms;
}

body[data-aos-delay='1300'] [data-aos], [data-aos][data-aos][data-aos-delay='1300'] {
	transition-delay: 0;
}

body[data-aos-delay='1300'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1300'].aos-animate {
	transition-delay: 1300ms;
}

body[data-aos-duration='1350'] [data-aos], [data-aos][data-aos][data-aos-duration='1350'] {
	transition-duration: 1350ms;
}

body[data-aos-delay='1350'] [data-aos], [data-aos][data-aos][data-aos-delay='1350'] {
	transition-delay: 0;
}

body[data-aos-delay='1350'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1350'].aos-animate {
	transition-delay: 1350ms;
}

body[data-aos-duration='1400'] [data-aos], [data-aos][data-aos][data-aos-duration='1400'] {
	transition-duration: 1400ms;
}

body[data-aos-delay='1400'] [data-aos], [data-aos][data-aos][data-aos-delay='1400'] {
	transition-delay: 0;
}

body[data-aos-delay='1400'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1400'].aos-animate {
	transition-delay: 1400ms;
}

body[data-aos-duration='1450'] [data-aos], [data-aos][data-aos][data-aos-duration='1450'] {
	transition-duration: 1450ms;
}

body[data-aos-delay='1450'] [data-aos], [data-aos][data-aos][data-aos-delay='1450'] {
	transition-delay: 0;
}

body[data-aos-delay='1450'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1450'].aos-animate {
	transition-delay: 1450ms;
}

body[data-aos-duration='1500'] [data-aos], [data-aos][data-aos][data-aos-duration='1500'] {
	transition-duration: 1500ms;
}

body[data-aos-delay='1500'] [data-aos], [data-aos][data-aos][data-aos-delay='1500'] {
	transition-delay: 0;
}

body[data-aos-delay='1500'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1500'].aos-animate {
	transition-delay: 1500ms;
}

body[data-aos-duration='1550'] [data-aos], [data-aos][data-aos][data-aos-duration='1550'] {
	transition-duration: 1550ms;
}

body[data-aos-delay='1550'] [data-aos], [data-aos][data-aos][data-aos-delay='1550'] {
	transition-delay: 0;
}

body[data-aos-delay='1550'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1550'].aos-animate {
	transition-delay: 1550ms;
}

body[data-aos-duration='1600'] [data-aos], [data-aos][data-aos][data-aos-duration='1600'] {
	transition-duration: 1600ms;
}

body[data-aos-delay='1600'] [data-aos], [data-aos][data-aos][data-aos-delay='1600'] {
	transition-delay: 0;
}

body[data-aos-delay='1600'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1600'].aos-animate {
	transition-delay: 1600ms;
}

body[data-aos-duration='1650'] [data-aos], [data-aos][data-aos][data-aos-duration='1650'] {
	transition-duration: 1650ms;
}

body[data-aos-delay='1650'] [data-aos], [data-aos][data-aos][data-aos-delay='1650'] {
	transition-delay: 0;
}

body[data-aos-delay='1650'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1650'].aos-animate {
	transition-delay: 1650ms;
}

body[data-aos-duration='1700'] [data-aos], [data-aos][data-aos][data-aos-duration='1700'] {
	transition-duration: 1700ms;
}

body[data-aos-delay='1700'] [data-aos], [data-aos][data-aos][data-aos-delay='1700'] {
	transition-delay: 0;
}

body[data-aos-delay='1700'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1700'].aos-animate {
	transition-delay: 1700ms;
}

body[data-aos-duration='1750'] [data-aos], [data-aos][data-aos][data-aos-duration='1750'] {
	transition-duration: 1750ms;
}

body[data-aos-delay='1750'] [data-aos], [data-aos][data-aos][data-aos-delay='1750'] {
	transition-delay: 0;
}

body[data-aos-delay='1750'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1750'].aos-animate {
	transition-delay: 1750ms;
}

body[data-aos-duration='1800'] [data-aos], [data-aos][data-aos][data-aos-duration='1800'] {
	transition-duration: 1800ms;
}

body[data-aos-delay='1800'] [data-aos], [data-aos][data-aos][data-aos-delay='1800'] {
	transition-delay: 0;
}

body[data-aos-delay='1800'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1800'].aos-animate {
	transition-delay: 1800ms;
}

body[data-aos-duration='1850'] [data-aos], [data-aos][data-aos][data-aos-duration='1850'] {
	transition-duration: 1850ms;
}

body[data-aos-delay='1850'] [data-aos], [data-aos][data-aos][data-aos-delay='1850'] {
	transition-delay: 0;
}

body[data-aos-delay='1850'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1850'].aos-animate {
	transition-delay: 1850ms;
}

body[data-aos-duration='1900'] [data-aos], [data-aos][data-aos][data-aos-duration='1900'] {
	transition-duration: 1900ms;
}

body[data-aos-delay='1900'] [data-aos], [data-aos][data-aos][data-aos-delay='1900'] {
	transition-delay: 0;
}

body[data-aos-delay='1900'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1900'].aos-animate {
	transition-delay: 1900ms;
}

body[data-aos-duration='1950'] [data-aos], [data-aos][data-aos][data-aos-duration='1950'] {
	transition-duration: 1950ms;
}

body[data-aos-delay='1950'] [data-aos], [data-aos][data-aos][data-aos-delay='1950'] {
	transition-delay: 0;
}

body[data-aos-delay='1950'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='1950'].aos-animate {
	transition-delay: 1950ms;
}

body[data-aos-duration='2000'] [data-aos], [data-aos][data-aos][data-aos-duration='2000'] {
	transition-duration: 2000ms;
}

body[data-aos-delay='2000'] [data-aos], [data-aos][data-aos][data-aos-delay='2000'] {
	transition-delay: 0;
}

body[data-aos-delay='2000'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2000'].aos-animate {
	transition-delay: 2000ms;
}

body[data-aos-duration='2050'] [data-aos], [data-aos][data-aos][data-aos-duration='2050'] {
	transition-duration: 2050ms;
}

body[data-aos-delay='2050'] [data-aos], [data-aos][data-aos][data-aos-delay='2050'] {
	transition-delay: 0;
}

body[data-aos-delay='2050'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2050'].aos-animate {
	transition-delay: 2050ms;
}

body[data-aos-duration='2100'] [data-aos], [data-aos][data-aos][data-aos-duration='2100'] {
	transition-duration: 2100ms;
}

body[data-aos-delay='2100'] [data-aos], [data-aos][data-aos][data-aos-delay='2100'] {
	transition-delay: 0;
}

body[data-aos-delay='2100'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2100'].aos-animate {
	transition-delay: 2100ms;
}

body[data-aos-duration='2150'] [data-aos], [data-aos][data-aos][data-aos-duration='2150'] {
	transition-duration: 2150ms;
}

body[data-aos-delay='2150'] [data-aos], [data-aos][data-aos][data-aos-delay='2150'] {
	transition-delay: 0;
}

body[data-aos-delay='2150'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2150'].aos-animate {
	transition-delay: 2150ms;
}

body[data-aos-duration='2200'] [data-aos], [data-aos][data-aos][data-aos-duration='2200'] {
	transition-duration: 2200ms;
}

body[data-aos-delay='2200'] [data-aos], [data-aos][data-aos][data-aos-delay='2200'] {
	transition-delay: 0;
}

body[data-aos-delay='2200'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2200'].aos-animate {
	transition-delay: 2200ms;
}

body[data-aos-duration='2250'] [data-aos], [data-aos][data-aos][data-aos-duration='2250'] {
	transition-duration: 2250ms;
}

body[data-aos-delay='2250'] [data-aos], [data-aos][data-aos][data-aos-delay='2250'] {
	transition-delay: 0;
}

body[data-aos-delay='2250'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2250'].aos-animate {
	transition-delay: 2250ms;
}

body[data-aos-duration='2300'] [data-aos], [data-aos][data-aos][data-aos-duration='2300'] {
	transition-duration: 2300ms;
}

body[data-aos-delay='2300'] [data-aos], [data-aos][data-aos][data-aos-delay='2300'] {
	transition-delay: 0;
}

body[data-aos-delay='2300'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2300'].aos-animate {
	transition-delay: 2300ms;
}

body[data-aos-duration='2350'] [data-aos], [data-aos][data-aos][data-aos-duration='2350'] {
	transition-duration: 2350ms;
}

body[data-aos-delay='2350'] [data-aos], [data-aos][data-aos][data-aos-delay='2350'] {
	transition-delay: 0;
}

body[data-aos-delay='2350'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2350'].aos-animate {
	transition-delay: 2350ms;
}

body[data-aos-duration='2400'] [data-aos], [data-aos][data-aos][data-aos-duration='2400'] {
	transition-duration: 2400ms;
}

body[data-aos-delay='2400'] [data-aos], [data-aos][data-aos][data-aos-delay='2400'] {
	transition-delay: 0;
}

body[data-aos-delay='2400'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2400'].aos-animate {
	transition-delay: 2400ms;
}

body[data-aos-duration='2450'] [data-aos], [data-aos][data-aos][data-aos-duration='2450'] {
	transition-duration: 2450ms;
}

body[data-aos-delay='2450'] [data-aos], [data-aos][data-aos][data-aos-delay='2450'] {
	transition-delay: 0;
}

body[data-aos-delay='2450'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2450'].aos-animate {
	transition-delay: 2450ms;
}

body[data-aos-duration='2500'] [data-aos], [data-aos][data-aos][data-aos-duration='2500'] {
	transition-duration: 2500ms;
}

body[data-aos-delay='2500'] [data-aos], [data-aos][data-aos][data-aos-delay='2500'] {
	transition-delay: 0;
}

body[data-aos-delay='2500'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2500'].aos-animate {
	transition-delay: 2500ms;
}

body[data-aos-duration='2550'] [data-aos], [data-aos][data-aos][data-aos-duration='2550'] {
	transition-duration: 2550ms;
}

body[data-aos-delay='2550'] [data-aos], [data-aos][data-aos][data-aos-delay='2550'] {
	transition-delay: 0;
}

body[data-aos-delay='2550'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2550'].aos-animate {
	transition-delay: 2550ms;
}

body[data-aos-duration='2600'] [data-aos], [data-aos][data-aos][data-aos-duration='2600'] {
	transition-duration: 2600ms;
}

body[data-aos-delay='2600'] [data-aos], [data-aos][data-aos][data-aos-delay='2600'] {
	transition-delay: 0;
}

body[data-aos-delay='2600'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2600'].aos-animate {
	transition-delay: 2600ms;
}

body[data-aos-duration='2650'] [data-aos], [data-aos][data-aos][data-aos-duration='2650'] {
	transition-duration: 2650ms;
}

body[data-aos-delay='2650'] [data-aos], [data-aos][data-aos][data-aos-delay='2650'] {
	transition-delay: 0;
}

body[data-aos-delay='2650'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2650'].aos-animate {
	transition-delay: 2650ms;
}

body[data-aos-duration='2700'] [data-aos], [data-aos][data-aos][data-aos-duration='2700'] {
	transition-duration: 2700ms;
}

body[data-aos-delay='2700'] [data-aos], [data-aos][data-aos][data-aos-delay='2700'] {
	transition-delay: 0;
}

body[data-aos-delay='2700'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2700'].aos-animate {
	transition-delay: 2700ms;
}

body[data-aos-duration='2750'] [data-aos], [data-aos][data-aos][data-aos-duration='2750'] {
	transition-duration: 2750ms;
}

body[data-aos-delay='2750'] [data-aos], [data-aos][data-aos][data-aos-delay='2750'] {
	transition-delay: 0;
}

body[data-aos-delay='2750'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2750'].aos-animate {
	transition-delay: 2750ms;
}

body[data-aos-duration='2800'] [data-aos], [data-aos][data-aos][data-aos-duration='2800'] {
	transition-duration: 2800ms;
}

body[data-aos-delay='2800'] [data-aos], [data-aos][data-aos][data-aos-delay='2800'] {
	transition-delay: 0;
}

body[data-aos-delay='2800'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2800'].aos-animate {
	transition-delay: 2800ms;
}

body[data-aos-duration='2850'] [data-aos], [data-aos][data-aos][data-aos-duration='2850'] {
	transition-duration: 2850ms;
}

body[data-aos-delay='2850'] [data-aos], [data-aos][data-aos][data-aos-delay='2850'] {
	transition-delay: 0;
}

body[data-aos-delay='2850'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2850'].aos-animate {
	transition-delay: 2850ms;
}

body[data-aos-duration='2900'] [data-aos], [data-aos][data-aos][data-aos-duration='2900'] {
	transition-duration: 2900ms;
}

body[data-aos-delay='2900'] [data-aos], [data-aos][data-aos][data-aos-delay='2900'] {
	transition-delay: 0;
}

body[data-aos-delay='2900'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2900'].aos-animate {
	transition-delay: 2900ms;
}

body[data-aos-duration='2950'] [data-aos], [data-aos][data-aos][data-aos-duration='2950'] {
	transition-duration: 2950ms;
}

body[data-aos-delay='2950'] [data-aos], [data-aos][data-aos][data-aos-delay='2950'] {
	transition-delay: 0;
}

body[data-aos-delay='2950'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='2950'].aos-animate {
	transition-delay: 2950ms;
}

body[data-aos-duration='3000'] [data-aos], [data-aos][data-aos][data-aos-duration='3000'] {
	transition-duration: 3000ms;
}

body[data-aos-delay='3000'] [data-aos], [data-aos][data-aos][data-aos-delay='3000'] {
	transition-delay: 0;
}

body[data-aos-delay='3000'] [data-aos].aos-animate, [data-aos][data-aos][data-aos-delay='3000'].aos-animate {
	transition-delay: 3000ms;
}

body[data-aos-easing="linear"] [data-aos], [data-aos][data-aos][data-aos-easing="linear"] {
	transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

body[data-aos-easing="ease"] [data-aos], [data-aos][data-aos][data-aos-easing="ease"] {
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

body[data-aos-easing="ease-in"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in"] {
	transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

body[data-aos-easing="ease-out"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-out"] {
	transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

body[data-aos-easing="ease-in-out"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-out"] {
	transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

body[data-aos-easing="ease-in-back"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-back"] {
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

body[data-aos-easing="ease-out-back"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-out-back"] {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body[data-aos-easing="ease-in-out-back"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-out-back"] {
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

body[data-aos-easing="ease-in-sine"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-sine"] {
	transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

body[data-aos-easing="ease-out-sine"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-out-sine"] {
	transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

body[data-aos-easing="ease-in-out-sine"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-out-sine"] {
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body[data-aos-easing="ease-in-quad"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-quad"] {
	transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

body[data-aos-easing="ease-out-quad"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-out-quad"] {
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body[data-aos-easing="ease-in-out-quad"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-out-quad"] {
	transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body[data-aos-easing="ease-in-cubic"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-cubic"] {
	transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

body[data-aos-easing="ease-out-cubic"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-out-cubic"] {
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body[data-aos-easing="ease-in-out-cubic"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-out-cubic"] {
	transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body[data-aos-easing="ease-in-quart"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-quart"] {
	transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

body[data-aos-easing="ease-out-quart"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-out-quart"] {
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body[data-aos-easing="ease-in-out-quart"] [data-aos], [data-aos][data-aos][data-aos-easing="ease-in-out-quart"] {
	transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/**
 * Fade animations:
 * fade
 * fade-up, fade-down, fade-left, fade-right
 * fade-up-right, fade-up-left, fade-down-right, fade-down-left
 */
[data-aos^='fade'][data-aos^='fade'] {
	opacity: 0;
	transition-property: opacity, transform;
}

[data-aos^='fade'][data-aos^='fade'].aos-animate {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

[data-aos='fade-up'] {
	transform: translate3d(0, 50px, 0);
}

[data-aos='fade-down'] {
	transform: translate3d(0, -50px, 0);
}

[data-aos='fade-right'] {
	transform: translate3d(-50px, 0, 0);
}

[data-aos='fade-left'] {
	transform: translate3d(50px, 0, 0);
}

[data-aos='fade-up-right'] {
	transform: translate3d(-50px, 50px, 0);
}

[data-aos='fade-up-left'] {
	transform: translate3d(50px, 50px, 0);
}

[data-aos='fade-down-right'] {
	transform: translate3d(-50px, -50px, 0);
}

[data-aos='fade-down-left'] {
	transform: translate3d(50px, -50px, 0);
}

/**
 * Zoom animations:
 * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
 * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
 */
[data-aos^='zoom'][data-aos^='zoom'] {
	opacity: 0;
	transition-property: opacity, transform;
}

[data-aos^='zoom'][data-aos^='zoom'].aos-animate {
	opacity: 1;
	transform: translate3d(0, 0, 0) scale(1);
}

[data-aos='zoom-in'] {
	transform: scale(0.6);
}

[data-aos='zoom-in-up'] {
	transform: translate3d(0, 50px, 0) scale(0.6);
}

[data-aos='zoom-in-down'] {
	transform: translate3d(0, -50px, 0) scale(0.6);
}

[data-aos='zoom-in-right'] {
	transform: translate3d(-50px, 0, 0) scale(0.6);
}

[data-aos='zoom-in-left'] {
	transform: translate3d(50px, 0, 0) scale(0.6);
}

[data-aos='zoom-out'] {
	transform: scale(1.2);
}

[data-aos='zoom-out-up'] {
	transform: translate3d(0, 50px, 0) scale(1.2);
}

[data-aos='zoom-out-down'] {
	transform: translate3d(0, -50px, 0) scale(1.2);
}

[data-aos='zoom-out-right'] {
	transform: translate3d(-50px, 0, 0) scale(1.2);
}

[data-aos='zoom-out-left'] {
	transform: translate3d(50px, 0, 0) scale(1.2);
}

/**
 * Slide animations
 */
[data-aos^='slide'][data-aos^='slide'] {
	transition-property: transform;
}

[data-aos^='slide'][data-aos^='slide'].aos-animate {
	transform: translate3d(0, 0, 0);
}

[data-aos='slide-up'] {
	transform: translate3d(0, 100%, 0);
}

[data-aos='slide-down'] {
	transform: translate3d(0, -100%, 0);
}

[data-aos='slide-right'] {
	transform: translate3d(-100%, 0, 0);
}

[data-aos='slide-left'] {
	transform: translate3d(100%, 0, 0);
}

/**
 * Flip animations:
 * flip-left, flip-right, flip-up, flip-down
 */
[data-aos^='flip'][data-aos^='flip'] {
	backface-visibility: hidden;
	transition-property: transform;
}

[data-aos='flip-left'] {
	transform: perspective(2500px) rotateY(-100deg);
}

[data-aos='flip-left'].aos-animate {
	transform: perspective(2500px) rotateY(0);
}

[data-aos='flip-right'] {
	transform: perspective(2500px) rotateY(100deg);
}

[data-aos='flip-right'].aos-animate {
	transform: perspective(2500px) rotateY(0);
}

[data-aos='flip-up'] {
	transform: perspective(2500px) rotateX(-100deg);
}

[data-aos='flip-up'].aos-animate {
	transform: perspective(2500px) rotateX(0);
}

[data-aos='flip-down'] {
	transform: perspective(2500px) rotateX(100deg);
}

[data-aos='flip-down'].aos-animate {
	transform: perspective(2500px) rotateX(0);
}

/*# sourceMappingURL=common.css.map */