@charset "utf-8";
/*
 파일명:		reset.css
 설  명:		 css 초기화
 작성자:		glim
 최초작성일:	  2018/11/30
 최종수정일:
*/


/**********************************************************************************
common
***********************************************************************************/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-style:normal;
}

/**********************************************************************************
common
***********************************************************************************/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {background:#fff; font-size:10px; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%}
body {width: 100%; color: #000; background-color:#fff; font-size: 12px; line-height:1;}

/*html, body { touch-action: manipulation; }*/

ol, ul {
  list-style: none;
}


blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}


a {
  text-decoration: none;
  color: inherit;
}

select, input, button, textarea {
    display: inline-block;
  /*font-family: "Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif;*/
  /*font-size: 12px;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

embed, object {
  position: absolute;
}

button {
    padding: 0;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

img {
  vertical-align: top;
}
input {
    border: 1px solid #d5d5d5;
    color: #000;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 14px;
    border-radius: 0;
}
textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly],
input[disabled],
input[readonly] {
    border: 1px solid #d5d5d5;
    background-color: #f8f8f8;
    color: #999;
}

textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px 11px;
    border: 1px solid #ccc;
    color: #000;
    line-height: 16px;
    border-radius: 0;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
}

select{
    padding: 0 26px 0 10px;
    border: 1px solid #ddd;
    vertical-align: top;
    color: #111;
    /*background: #fff url(../../images/ui/ui_select_arr.png) right center no-repeat;*/
    cursor: pointer;
    line-height: 16px;
    border-radius: 0;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*-o-appearance: none;*/
    /*appearance: none;*/
}
select::-ms-expand{
    display: none;
}

*, *:before, *:after {-webkit-box-sizing: border-box;box-sizing: border-box;}

button, input, select, textarea {margin:0; font-size:100%; vertical-align:top; border-radius: 0; -webkit-border-radius: 0; appearance: none; -webkit-appearance: none; }
button {vertical-align: top; cursor: pointer;}
strong {font-weight: 700;}
h1, h2, h3, h4, h5, h6, pre {font-weight:400; font-size:100%; line-height:1;}
caption, legend {width:0; height:0; font-size:1px; text-indent:-9999rem; line-height:0; margin:0; padding:0; border:0; }
a, a:active, a:focus, a:hover, a:link, a:visited { text-decoration:none;}
a.disabled,
button[disabled] {
    pointer-events: none;
    cursor: default;
}
input {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
input::-ms-clear {display: none;}
